.btn{
    margin-right:5px;
    min-width:60px;
}
.btn-sm, .btn-group-sm > .btn th {
    padding:2px;
    margin:1px;
}
.tableContainer {
    padding:40px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 2px !important;
    line-height: 1 !important;
    vertical-align: baseline !important;
    border-bottom: 1px solid #ddd !important;
    font-size:12px;
}
.table > thead > tr > th {
    padding: 8px !important;
}
.nav-tabs {
    border-bottom: 2px solid #DDD;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border-width: 0;
    }

    .nav-tabs > li > a {
        border: none;
        color: #666;
    }

        .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
            border: none;
            color: #4285F4 !important;
            background: transparent;
        }

        .nav-tabs > li > a::after {
            content: "";
            background: #4285F4;
            height: 2px;
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: -1px;
            transition: all 250ms ease 0s;
            transform: scale(0);
        }

    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
        transform: scale(1);
    }

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px;
    min-height:300px;
}
.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.errorCount {
    border: 1px solid #bd2424;
    padding: 2px;
    border-radius: 50%;
    color: #FFF;
    background-color: #ce4040;
    width: 20px;
    text-align: center;
    height: 20px;
    line-height: 14px;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}s