@model ProductViewModel
@{
    ViewData["Title"] = "Select Page";
    var config = new ViewConfiguration()
    {
        SaveAction = Url.Action("SaveProduct", "Home"),
        ContainerName = "productManagement",
        GetAddress = Url.Action("GetProducts", "Home"),
        FormId = "frm",
        TableName = "tbl",
        ViewTabName = Guid.NewGuid().ToString("N"),
        InputTabName = Guid.NewGuid().ToString("N")
    };
}
<div id="@config.ContainerName">
    <h2>Select</h2>
    <div class="row">
        <div class="col-md-4">
            @Html.SelectControl("Ürün Türü", i => i.CategoryId, true)
        </div>
        <div class="col-md-4">
            @Html.SelectControl("Firma", i => i.CompanyId)
        </div>
    </div>
</div>
@section scripts{
    <script>
        var binding = '@Html.ViewInitializer(config)';
        var vm = cevsis.Binding.initialize(binding);

        vm.afterSuccess = function (data) {
            if (data)
                cevsis.Notify.Success("Kayıt başarılı");
        }
    </script>
}
