@{
    ViewData["Title"] = "Select Page";
}

<h2>Select</h2>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Şehirler</label>
            <select class="form-control selectComp"></select>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var ajaxUrl1 = '@Url.Action("GetCategories", "Home")';
            var ajaxUrl2 = '@Url.Action("GetCategories", "Home")';
            var pageSize = 30;

            $('.selectComp').select2(
                {
                    language: "tr",
                    placeholder: 'Seçiniz',
                    minimumInputLength: 0,
                    allowClear: true,
                    ajax: {
                        quietMillis: 300,
                        url: ajaxUrl,
                        contentType: 'json',
                        data: function (term, page) {
                            return {
                                pageSize: pageSize,
                                searchTerm: term.term
                            };
                        },
                        results: function (data, page) {
                            var more = (page * pageSize) < data.Total;
                            return { results: data.Results, more: more };
                        }
                    }
                });
        });
    </script>
}